<%- include('../base/header.ejs') %>

<div class="container w-25 p-5 my-5 bg-body-tertiary rounded">
    
<form action="/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="email">

      <% if (typeof errorMessage !== "undefined") { %>
        <p class="text-danger"><%= errorMessage %></p>
      <% } %>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="pwd">
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary" value="Login">Submit</button>
  </form>
</div>

<%- include('../base/footer.ejs') %>